{{define "admin-dt"}}
<div class="bg-blue">
<table class="border-black border-solid ">
    <thead class="">
        <th class="text-white" style="text-align: left">Label</th>
        <th class="text-white">Author</th>
    </thead>
    <tbody>
        {{ range .AdminDts }}
        <tr class="admin-dt item">
            <td class="text-white">
                {{.Label}}
            </td>
            <td class="text-white">
                {{.Author}}
            </td>
        </tr>
        {{end}}
    </tbody>
</table>
</div>
{{end}}
