<form>
  <label>
    <input type="checkbox" name="dql" value="SELECT"> SELECT Clause
  </label><br>

  <label>
    <input type="checkbox" name="dql" value="FROM"> FROM Clause
  </label><br>

  <label>
    <input type="checkbox" name="dql" value="WHERE"> WHERE Clause
  </label><br>

  <label>
    <input type="checkbox" name="dql" value="GROUP BY"> GROUP BY Clause
  </label><br>

  <label>
    <input type="checkbox" name="dql" value="HAVING"> HAVING Clause
  </label><br>

  <label>
    <input type="checkbox" name="dql" value="ORDER BY"> ORDER BY Clause
  </label><br>

  <label>
    <input type="checkbox" name="dql" value="LIMIT"> LIMIT / OFFSET Clauses
  </label><br>
</form>

