[Unit]
Description=[app]
After=network.target

[Service]
Type=simple
User=[app]
Group=[app]
WorkingDirectory=[workingDir]
ExecStart=[execPath]
Restart=on-failure

[Install]
WantedBy=multi-user.target
