package partials

templ DeleteConfirm(title string, message string, deleteURL string, target string) {
	<div>
		<p class="text-sm text-gray-400">{ message }</p>
		<div class="mt-4">
			<mcms-confirm
				label={ title }
				message={ message }
				action-label="Delete"
				hx-delete={ deleteURL }
				hx-target={ target }
				hx-swap="outerHTML"
			></mcms-confirm>
		</div>
	</div>
}
