<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style/norm.css">
    <link rel="stylesheet" href="style/style.css">
    <title>Create Route</title>
</head>

<body class="grid-parent">
    <section class="grid-form-container">

        <form class="form">
            <label for="route-title">Title</label>
            <input id="route-title" type="text">
            <label for="route-slug">Slug</label>
            <input id="route-slug" type="text">
            <label for="author">Author</label>
            <select name="author" id="author" value="null">
                <option value="null"> ---Select option </option>
                <option value="system">System</option>
            </select>

            <label for="content">Content</label>
            <textarea name="content" id="content" placeholder="description of datatypes and fields"></textarea>
        </form>
    </section>

</body>

</html>
