{{define "Base"}}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Security-Policy" content="
        default-src 'self'; 
        script-src 'self' 'wasm-unsafe-eval' 'unsafe-inline' 'unsafe-eval' chrome-extension:;
        style-src 'self' 'unsafe-inline'; 
        connect-src 'self' chrome-extension:; 
        img-src 'self' chrome-extension:;
        font-src 'self' chrome-extension:;
        object-src 'none'; 
        frame-ancestors 'self'; 
        base-uri 'self';
      ">
    <link rel="stylesheet" href="style/norm.css">

    <style>
        html {
            font-family: sans-serif, system-ui;
        }
    </style>
    <link rel="stylesheet" href="style/style.css">
    <title>{{.Title}}</title>
</head>

<body class="primary-grid-parent">
    {{Template "ModulaAdminBar" .AdminBar }}
    {{Template "ModulaSidebar" .Sidebar }}
    <main class="grid-child">

        <form method="post" class=" grid-child add-post-form" action="/api/add/page">
            <label for="title">Title</label>
            <input id="title" name="title" type="text">
            <label for="slug">Slug</label>
            <input id="slug" name="slug" type="text">
            <label for="content">Content</label>
            <textarea id="content" name="content">placeholder</textarea>
            <button type="submit">Submit</button>
        </form>


        <ul class="grid-child">
            {{range .Field }}
            <li>
                <p>{{ .Title }}</p>
                <p>{{ .Content }}</p>

            </li>
            {{end}}
        </ul>


    </main>
</body>


<script src="/js/index.js"></script>
<script defer src="js/bundle.js"></script>

</html>

{{end}}
