{{define "ModulaSidebar"}}
<div class="modula-sidebar">
    <ul class="modula-sidebar-links">
        {{Template "ModulaSidebarLinks" .Links}}
        <a href="/admin/dashboard" class="menu-link">Dashboard</a>
        <a href="/admin/routes" class="menu-link">Routes</a>
        <a href="/admin/datatypes" class="menu-link">Datatypes</a>
        <a href="/admin/fields" class="menu-link">Fields</a>
        <a href="/admin/media" class="menu-link">Media</a>
        <a href="/admin/plugins" class="menu-link">Plugins</a>
        <a href="/admin/users" class="menu-link">Users</a>
    </ul>
</div>
{{end}}
