<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Security-Policy" content="
        default-src 'self'; 
        script-src 'self' 'wasm-unsafe-eval' 'unsafe-inline' 'unsafe-eval' chrome-extension:;
        style-src 'self' 'unsafe-inline'; 
        connect-src 'self' chrome-extension:; 
        img-src 'self' chrome-extension:;
        font-src 'self' chrome-extension:;
        object-src 'none'; 
        frame-ancestors 'self'; 
        base-uri 'self';
      ">
    <link rel="stylesheet" href="style/norm.css">
    <link rel="stylesheet" href="style/style.css">
    <title>ModulaCMS</title>
</head>

<body class="primary-grid-parent">
    <header class="modula-admin">
        <nav class="modula-admin-nav">

            <ul class="modula-admin-primary">
                <li class="modula-admin-logo-link">
                    <a href="/" class="admin-logo-link">M</a>
                </li>
                <li class="modula-admin-primary-links">
                    <ul>
                        <li>
                            <a href="/" class="admin-bar-link">Placeholder</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <ul class="modula-admin-secondary">
                <li>
                    <a href="/admin/github" class="admin-bar-link">Github</a>
                </li>
                <li>
                    <a href="/admin/support" class="admin-bar-link">Support</a>
                </li>
                <li>
                    <a href="/admin/documentation" class="admin-bar-link">Documentation</a>
                </li>
                <li>
                    <a href="/admin/help" class="admin-bar-link">Help</a>
                </li>
                <li>
                    <a href="/admin/logout" class="admin-bar-link">Logout</a>
                </li>
            </ul>
        </nav>
    </header>
    <aside class="modula-sidebar">
        <nav class="modula-sidebar-primary">
            <ul class="modula-sidebar-links">
                <li class="modula-sidebar-link-item">
                    <button hx-post="admin/sidebar/dashboard/clicked" hx-trigger="click" hx-target="#editor" hx-swap="innerHTML"
                        class="menu-link">Dashboard</button>
                </li>
                <li class="modula-sidebar-link-item active">
                    <a href="/admin/routes" class="menu-link">Routes</a>
                    <ul class="modula-sidebar-submenu">
                        <li class="modula-sidebar-link-item">
                            <a href="/" class="menu-link">Manage</a>
                        </li>
                        <li class="modula-sidebar-link-item">
                            <a href="/" class="menu-link">Add New</a>
                        </li>
                    </ul>
                </li>
                <li class="modula-sidebar-link-item">
                    <a href="/admin/datatypes" class="menu-link">Datatypes</a>
                </li>
                <li class="modula-sidebar-link-item">
                    <a href="/admin/fields" class="menu-link">Fields</a>
                </li>
                <li class="modula-sidebar-link-item">
                    <a href="/admin/media" class="menu-link">Media</a>
                </li>
                <li class="modula-sidebar-link-item">
                    <a href="/admin/plugins" class="menu-link">Plugins</a>
                </li>
                <li class="modula-sidebar-link-item">
                    <a href="/admin/users" class="menu-link">Users</a>
                </li>
            </ul>
        </nav>
        <nav class="modula-sidebar-secondary">
            <ul>
                <li class="modula-sidebar-link-item">
                    <a href="/admin/setting" class="menu-link">Setting</a>
                </li>
            </ul>
        </nav>
    </aside>
    <main id="editor" class="grid-child editor-grid ">
        <div class="card card1">
            <form></form>

        </div>
        <div class="card card2"></div>
        <div class="card card3"></div>
        <div class="card card4"></div>
        <div class="card card5"></div>
        <div class="card card6"></div>
        <div class="card card7"></div>
        <div class="card card8"></div>
        <div class="card card9"></div>
        <div class="card card10"></div>
        <div class="card card11"></div>
        <div class="card card12"></div>
        <div class="card card13"></div>
        <div class="card card14"></div>
        <div class="card card15"></div>
        <div class="card card16"></div>
        <div class="card card17"></div>
        <div class="card card18"></div>
        <div class="card card19"></div>
        <div class="card card20"></div>
        <div class="card card21"></div>
        <div class="card card22"></div>




    </main>


    <script src="js/index.js"></script>
    <script src="js/htmx.min.js"></script>
    <script defer src="js/bundle.js"></script>
</body>

</html>
