<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        html {
            font-family: sans-serif, system-ui;
            color: white;
        }

        body {
            background: #333;
            padding-left: 2rem;
            padding-right: 2rem;

        }

        .form-row {
            display: flex;
        }
    </style>
    <title>{{.Title}}</title>
</head>

<body>

    <div class="form-row">
        <form method="post" class="add-post-form" action="/api/add/page">
            <label for="title">Title</label>
            <br>
            <input id="title" name="title" type="text">
            <br>
            <br>
            <label for="slug">Slug</label>
            <br>
            <input id="slug" name="slug" type="text">
            <br>
            <br>
            <label for="content">Content</label>
            <br>
            <textarea id="content" name="content">placeholder</textarea>
            <br>
            <button type="submit">Submit</button>
        </form>


        <ul>
            {{range .Pages }}
            <li>
                <p>{{ .Title }}</p>
                <p>{{ .Content }}</p>

            </li>
            {{end}}
        </ul>


    </div>
</body>


        <script src="/js/index.js"></script>
</html>
