{{define "routes-active"}}
<li class="modula-sidebar-link-item active">
    <a href="/admin/routes" class="menu-link">Routes</a>
    <ul class="modula-sidebar-submenu">
        <li class="modula-sidebar-link-item">
            <a href="/" class="menu-link">Manage</a>
        </li>
        <li class="modula-sidebar-link-item">
            <a href="/" class="menu-link">Add New</a>
        </li>
    </ul>
</li>
{{end}}
{{define "routes-inactive"}}
<li class="modula-sidebar-link-item active">
    <a href="/admin/routes" class="menu-link">Routes</a>
</li>
{{end}}
