package pages

import (
	"github.com/hegner123/modulacms/internal/admin/layouts"
	"github.com/hegner123/modulacms/internal/admin/partials"
	"github.com/hegner123/modulacms/internal/db"
)

templ UsersList(layout layouts.AdminData, items []db.UserWithRoleLabelRow, roles []db.Roles, csrfToken string) {
	@layouts.Admin(layout) {
		@partials.UsersListContent(items, roles, csrfToken)
	}
}
